{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div>
        {% for listing in listings %}

            {% if not listing.is_closed %}
                <h6><a href="{% url 'listing' listing_id=listing.id %}">{{ listing.title }}</a>  </h6>
                <div>
                    {% if listing.image %}
                        <img src="{{ listing.image.url }}" alt="Listing-image" style="max-height: 300px;">
                    {% endif %}
                </div>
                <p>Price: {{ listing.starting}} </p>
                <p>{{ listing.description }} </p>
                <p>Category: {{ listing.category }} </p>
            {% endif %}

        {% empty %}
            <p>No current active listings</p>
        {% endfor %} 
    </div>
{% endblock %}