{% extends "auctions/layout.html" %}
{% block title %}
    {{ listing.title }}
{% endblock %}
{% block body %}
    <h2>Listing: {{listing.title}} </h2>

    <div>
        {% if listing.image %}
            <img src="{{ listing.image.url }}" alt="Listing-image" style="max-height: 300px;">
        {% endif %}
    </div>
    
    <div>
        <p> {{ listing.description }} </p>
    </div>
    <div>
        {% if closePermit %}
            <form action="{% url 'closeBid' listing_id=listing.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" name="close" value="Close">
            </form>
        {% endif %}
    </div>
    <div>
        {% if bidlast %}
            {{ bidlast}}
        {% else %}
            {{listing.starting}}
        {% endif %}       
    </div>

    {% if not won %}
        {% if request.user.is_authenticated %}
            <form action="{% url 'bid' listing_id=listing.id %}" method="POST">
                {% csrf_token %}
                {{formBid}}
                <input type="submit" value="Bid">
            </form>
        {% endif %}
    {% else %}
            <p> {{ won }}</p>
    {% endif %}

    {% if error %}
        <p>error</p>
    {% endif %}

    {% if request.user.is_authenticated %}
        {% if not added %}
            <form action="{% url 'listing' listing.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" name="addwatchlist" value="Add to watchlist">
            </form>
        {% else %}
            <form action="{% url 'listing' listing.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" name="removewatchlist" value="Remove from watchlist">
            </form>
        {% endif %}

        <form action="{% url 'comment' listing_id=listing.id %}" method="POST">
            {% csrf_token %}
            {{formComment}}
            <input type="submit" value="Comment">
        </form>
    {% endif %}

    <div>
        <h5>Comments</h5>
        {% for comment in comments %}
            <li> {{comment.text}} </li>
        {% empty %}
            <p>No Comments</p>
        {% endfor %}
    </div>

{% endblock %}